:root {
  --main-bg: #ad8e7f;
  --main-deco: #904840;
  --main-highlight: #eb7a77;
  --main-content: #554236;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Noto Serif SC", serif;
  font-size: medium;
}

#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

a {
  color: var(--main-highlight);
}

/* stylesheet for info */
@media (max-height: 15vh) {
  #info {
    display: none;
  }
}

#info {
  top: 1rem;
  position: fixed;
  padding-left: 20px;
}

#info p {
  padding: 0.5rem;
  margin-top: 0;
  font-size: small;
  background-color: var(--main-content);
  color: var(--main-bg);
  border-radius: 0 0 0.5rem 0.5rem;
}

#title {
  font-size: 2rem;
  margin-bottom: 0;
  margin-top: 0;
  padding: 0.5rem;
  background-color: var(--main-content);
  color: var(--main-bg);
  border-radius: 0.5rem 0.5rem 0 0;
}

/* stylesheet for slider */

#slider {
  position: absolute;
  width: 90%;
  padding-bottom: 40px;
  padding-left: 20px;
  bottom: 0px;
}

#feedback {
  color: var(--main-content);
  margin: 0px;
}

#control {
  -webkit-appearance: none;
  /*width: calc(100% - (73px));*/
  width: 100%;
  height: 5px;
  /*border-radius: 2.5px;*/
  background: var(--main-deco);
  outline: none;
  padding: 0;
  margin: 0;
}

#control::-moz-range-thumb {
  width: 5px;
  height: 20px;
  border: 0;
  /*border-radius: 50%;*/
  background: var(--main-deco);
  cursor: pointer;
  -moz-transition: background 0.15s ease-in-out;
  transition: background 0.15s ease-in-out;
}

#control::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 5px;
  height: 20px;
  /*border-radius: 50%;*/
  background: var(--main-deco);
  cursor: pointer;
  -webkit-transition: background 0.15s ease-in-out;
  transition: background 0.15s ease-in-out;
}

#control::-moz-range-thumb:hover {
  background: var(--main-highlight);
}

#control::-webkit-slider-thumb:hover {
  background: var(--main-highlight);
}

::-moz-range-track {
  background: var(--main-deco);
  border: 0;
}

input::-moz-focus-inner,
input::-moz-focus-outer {
  border: 0;
}

#timeline {
  display: flex;
  opacity: 0.7;
}

.timeline-element {
  text-align: center;
  font-size: 80%;
  height: 20px;
  color: #ffffff;
}

/* style for marker */

.marker {
  /*display: block;*/
  display: none;
  /*border: 2px solid var(--main-deco);*/
  background-color: var(--main-deco);
  opacity: 0.6;
  border-radius: 50%;
  cursor: pointer;
  padding: 0;
}

/* stylesheet for popup */

.mapboxgl-popup {
  transform: none !important;
  top: 7rem;
  padding-bottom: 40px;
  padding-left: 20px;
  max-height: 80vh;
  z-index: 10;
}

.mapboxgl-popup-content {
  box-shadow: none;
  background: var(--main-content);
  font-family: "Noto Serif SC", serif;
  font-size: medium;
  overflow: auto;
  margin: 0.5rem 0 0.5rem 0;
}

/* scrollbar styles in popup */
.mapboxgl-popup-content {
  scrollbar-color: var(--main-highlight) var(--main-content);
}

.mapboxgl-popup-content::-webkit-scrollbar {
  width: 1em;
}
.mapboxgl-popup-content::-webkit-scrollbar-track {
  background: var(--main-content);
}
.mapboxgl-popup-content::-webkit-scrollbar-thumb {
  background-color: var(--main-highlight);
  border-radius: 1em;
  border: 3px solid var(--main-content);
}

.mapboxgl-popup-content h2 {
  color: var(--main-highlight);
  text-align: center;
}

.mapboxgl-popup-content td,
th {
  color: var(--main-bg);
  padding: 5px;
  min-width: 4em;
  font-family: "Noto Serif SC", serif;
}

.mapboxgl-popup-content .rowWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.mapboxgl-popup-content table {
  flex: 1;
  max-width: 30em;
}

/* for unusual chinese character only */
.mapboxgl-popup-content table svg {
  width: 1em;
  vertical-align: middle;
}

.gallery {
  padding: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.gallery .pic {
  max-width: 40vw;
  max-height: 40vh;
}

.gallery p {
  font-size: 2em;
  color: var(--main-highlight);
  margin: 0.3em;
}

.gallery p:hover {
  cursor: pointer;
}

/*
.mapboxgl-popup-content p {
  color: var(--main-content);
  text-align: center;
  font-family: "Noto Serif SC", serif;
}
*/

.mapboxgl-popup-close-button {
  color: var(--main-deco);
}

.mapboxgl-popup-tip {
  display: none;
}

/* fade-in
   fade-out
*/
.fade-in {
  animation: fadeIn ease 1s;
  -webkit-animation: fadeIn ease 1s;
  -moz-animation: fadeIn ease 1s;
  -o-animation: fadeIn ease 1s;
  -ms-animation: fadeIn ease 1s;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fade-out {
  animation: fadeOut ease 2s;
  -webkit-animation: fadeOut ease 2s;
  -moz-animation: fadeOut ease 2s;
  -o-animation: fadeOut ease 2s;
  -ms-animation: fadeOut ease 2s;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

