svg {
  width: 1em;
  vertical-align: middle;
}

:root {
  --main-bg: #ad8e7f;
  --main-deco: #904840;
  --main-highlight: #eb7a77;
  --main-content: #554236;
}

body {
  font-family: "Noto Serif SC", serif;
  font-size: medium;
}

/* stylesheet for info */
#info {
  position: fixed;
  padding-left: 20px;
}

#info p {
  margin-top: 0.5em;
  font-size: small;
}

#title {
  font-size: 250%;
  margin-bottom: 0.1em;
}

/* stylesheet for slider */

#slider {
  position: absolute;
  width: 90%;
  padding-bottom: 40px;
  padding-left: 20px;
  bottom: 0px;
}

#feedback {
  color: var(--main-content);
  margin: 0px;
}

#control {
  -webkit-appearance: none;
  /*width: calc(100% - (73px));*/
  width: 100%;
  height: 5px;
  /*border-radius: 2.5px;*/
  background: var(--main-deco);
  outline: none;
  padding: 0;
  margin: 0;
}

#control::-moz-range-thumb {
  width: 5px;
  height: 20px;
  border: 0;
  /*border-radius: 50%;*/
  background: var(--main-deco);
  cursor: pointer;
  -moz-transition: background 0.15s ease-in-out;
  transition: background 0.15s ease-in-out;
}

#control::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 5px;
  height: 20px;
  /*border-radius: 50%;*/
  background: var(--main-deco);
  cursor: pointer;
  -webkit-transition: background 0.15s ease-in-out;
  transition: background 0.15s ease-in-out;
}

#control::-moz-range-thumb:hover {
  background: var(--main-highlight);
}

#control::-webkit-slider-thumb:hover {
  background: var(--main-highlight);
}

::-moz-range-track {
  background: var(--main-deco);
  border: 0;
}

input::-moz-focus-inner,
input::-moz-focus-outer {
  border: 0;
}

#timeline {
  display: flex;
  opacity: 0.7;
}

.timeline-element {
  text-align: center;
  font-size: 80%;
  height: 20px;
  color: #ffffff;
}

/* style for marker */

.marker {
  /*display: block;*/
  display: none;
  /*border: 2px solid var(--main-deco);*/
  background-color: var(--main-deco);
  opacity: 0.6;
  border-radius: 50%;
  cursor: pointer;
  padding: 0;
}

/* stylesheet for popup */

.mapboxgl-popup {
  transform: none !important;
  top: 15vh;
  padding-bottom: 40px;
  padding-left: 20px;
  max-height: 60%;
}

/*
.mapboxgl-popup-anchor-top {
}
*/

/*
.mapboxgl-popup-content-wrapper {
}
*/

.mapboxgl-popup-content {
  box-shadow: none;
  background: radial-gradient(
    rgba(256, 256, 256, 0.8),
    rgba(216, 197, 188, 0.8)
  );
  /*background: rgba(216, 197, 188, 0.5);*/
  backdrop-filter: blur(1px);
  border: 2px solid var(--main-deco);
  border-radius: 6px;
  font-family: "Noto Serif SC", serif;
  font-size: medium;
}

.mapboxgl-popup-content h2 {
  color: var(--main-deco);
  text-align: center;
}

.mapboxgl-popup-content h3 {
  color: var(--main-content);
  text-align: center;
}

.mapboxgl-popup-content th,
td {
  padding: 5px;
  min-width: 40px;
}

.mapboxgl-popup-content .container {
  display: flex;
  flex-direction: row;
}

.mapboxgl-popup-content table {
  flex: 1;
}

.gallery img {
  max-width: 50vw;
  max-height: 50vh;
}

/*
.mapboxgl-popup-content p {
  color: var(--main-content);
  text-align: center;
  font-family: "Noto Serif SC", serif;
}
*/

.mapboxgl-popup-content td {
  color: var(--main-content);
  font-family: "Noto Serif SC", serif;
}

.mapboxgl-popup-close-button {
  color: var(--main-deco);
}

.mapboxgl-popup-tip {
  display: none;
}

/* fade-in
   fade-out
*/
.fade-in {
  animation: fadeIn ease 1s;
  -webkit-animation: fadeIn ease 1s;
  -moz-animation: fadeIn ease 1s;
  -o-animation: fadeIn ease 1s;
  -ms-animation: fadeIn ease 1s;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fade-out {
  animation: fadeOut ease 2s;
  -webkit-animation: fadeOut ease 2s;
  -moz-animation: fadeOut ease 2s;
  -o-animation: fadeOut ease 2s;
  -ms-animation: fadeOut ease 2s;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-moz-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-o-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-ms-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
